@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs .swiper-slide {
    opacity: 0.75;
}

.thumbs .swiper-slide-thumb-active  {
    opacity: 1;
    scale: 125%;
}
.swiper-pagination-bullet {
    background-color: #0643bd !important;
    opacity: 1;

}
.swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.68) !important;
}
.swiper-button-prev,.swiper-button-next {
    color: #FFFFFF !important;
    padding-bottom: 60px;
}
/*.swiper-slide-active{*/
/*    scale: 125%;*/
/*}*/
/*.thumbs .swiper-slide-active .swiper-slide-thumb-active{*/
/*    scale: 125%;*/
/*}*/

/*.thumbs .swiper-slide:nth-child(1):active{*/
/*    opacity: 0.75;*/
/*    scale: 125%;*/
/*}*/
.qwe {
    scale: 125%;
}